*{
    padding: 0;
    margin: 0;
}
#header{
    width: 100%;
    height: 20px;
    background-color: black;
}
#header li{
    height: 20px;
    margin-right: 10px;
    margin-right: 10px;
    float: right;
    /* 删除li前面的点 */
    list-style: none;
}
#nav{
    width: 100%;
    height: 70px;
    float: left;
    border-top: solid ;
    border-top-color:darkgray;
    border-bottom: solid;
    border-bottom-color: darkgray;
    border-width: 1px;
}
#nav_left{

    float: left;
}
#nav_center{
    margin: 0 auto;
}
#nav li{
    float:left;
    list-style: none;
    padding: 1em;
    margin: 1em;
}
#nav_right{
    /* margin-left: 10em;
    margin-right: 10em; */
    float: right;
}
#center_information{
    width:5em;
    margin: 0 auto;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom:5px solid red;
    /* text-decoration: underline;
    text-decoration-color: red; */
    font-size: 2em; 
    font-weight: 700;
}#container {
    width: 70%;
    overflow: hidden;
    margin: 0 auto;
}
.nline {
    float: left;
    width: 33.33%;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    /* background-color:blanchedalmond;
    color: white; */
    padding-right: 50px;
    padding-bottom: 500px;
    margin-bottom: -500px;
    margin-top: 30px;
    /* margin-right: 50px; */

}
.nline img{
    margin-top: 20px;
    width: 180px;
    height: 180px;
}
.nline:nth-child(2) {
    /* background-color:cornsilk; */
}
.nline:nth-child(2) img{
    margin-top: 20px;
    width: 180px;
    height: 180px;
}
.nline:nth-child(3) {
    /* background-color:blanchedalmond; */
}
.nline:nth-child(3) img{
    margin-top: 20px;
    width: 180px;
    height: 180px;
}
#footer{
    width: 100%;
    height:15em;
    background-color:rgb(232, 234, 238);
}
#footer_container{
    width:50em;
    height: 100%;
    margin: 0 auto;
}
.list_container{
    width: 10em;
    height: 100%;
    float:left;
}
.list_container h2{
    font-weight: 300;
    font-family: "微软雅黑";
}
.list_container p{
    font-family: "微软雅黑";
    font-weight: 200;
    font-size: small;
}
#ending{
    width: 100%;
    height: 3em;
    background-color: rgb(215, 217, 221);
}
#ending_container{
    width:48em;
    height:50%;
    margin: 0 auto;
}
#ending_container li{
    font-family: "微软雅黑";
    font-weight: 200;
    font-size: small;
    float: left;
    list-style: none;
}
#ending_date{
    width: 10em;
    height: 50%;
    font-family: "微软雅黑";
    font-weight: 200;
    font-size: small;
    margin: 0 auto;
}