*{
    padding: 0;
    margin: 0;
}
#header{
    width: 100%;
    height: 20px;
    background-color: black;
}
#header li{
    height: 20px;
    margin-right: 10px;
    margin-right: 10px;
    float: right;
    /* 删除li前面的点 */
    list-style: none;
}
#nav{
    width: 100%;
    height: 70px;
    float: left;
    border-top: solid ;
    border-top-color:darkgray;
    border-bottom: solid;
    border-bottom-color: darkgray;
    border-width: 1px;
}
#nav_left{

    float: left;
}
#nav_center{
    margin: 0 auto;
}
#nav li{
    float:left;
    list-style: none;
    padding: 1em;
    margin: 1em;
}
#nav_right{
    /* margin-left: 10em;
    margin-right: 10em; */
    float: right;
}
#center_information{
    width:4em;
    margin: 0 auto;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom:5px solid red;
    /* text-decoration: underline;
    text-decoration-color: red; */
    font-size: 2em; 
    font-weight: 700;
}
#center_container{
    width:100%;
    height:70em;
    margin: 0 auto;
}
.line_container{
    width:70em;
    height: 20em;
    margin: 0 auto;
}
.small_pic{
    width: 20em;
    height: 20em;
    float: left;
    margin-left: 1em;
    padding-left: 1em;
    padding-top: 1em;
}
.small_pic img{
    width: 100%;
    height: 80%;
    /* 设置图片的格式为填充 */
    object-fit:cover;
    cursor: pointer;
    transition: all 0.2s;
}
.small_pic img:hover{
    transform: scale(1.05);
}

#footer{
    width: 100%;
    height:15em;
    background-color:rgb(232, 234, 238);
}
#footer_container{
    width:50em;
    height: 100%;
    margin: 0 auto;
}
.list_container{
    width: 10em;
    height: 100%;
    float:left;
}
.list_container h2{
    font-weight: 300;
    font-family: "微软雅黑";
}
.list_container p{
    font-family: "微软雅黑";
    font-weight: 200;
    font-size: small;
}
#ending{
    width: 100%;
    height: 3em;
    background-color: rgb(215, 217, 221);
}
#ending_container{
    width:48em;
    height:50%;
    margin: 0 auto;
}
#ending_container li{
    font-family: "微软雅黑";
    font-weight: 200;
    font-size: small;
    float: left;
    list-style: none;
}
#ending_date{
    width: 10em;
    height: 50%;
    font-family: "微软雅黑";
    font-weight: 200;
    font-size: small;
    margin: 0 auto;
}